<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.txt.video">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <application>
        <activity
            android:name="com.txt.video.ui.video.VideoActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:taskAffinity="net.sourceforge.simcpuxdemo"
            android:theme="@style/tx_NewActivityTheme"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <service android:name=".widget.floatview.FloatVideoWindowService" />
        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity
            android:name="com.tencent.rtmp.video.TXScreenCapture$TXScreenCaptureAssistantActivity"
            android:launchMode="singleInstance"
            android:taskAffinity="net.sourceforge.simcpuxdemo"
            android:theme="@android:style/Theme.Translucent" />


        <activity
            android:name="com.txt.video.widget.utils.PermissionUtils$TransActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:multiprocess="true"
            android:theme="@style/tx_activityTranslucent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
    </application>

</manifest>